.logo h1 {
    margin-bottom: 37px;
    font-size: var(--title-1);
    font-weight: 600;
}
.logo p {
    margin-bottom: 55px;
    font-size: var(--title-2);
    font-weight: 400;
    line-height: 30px;
}
.logo span{
    font-size: var(--text-2);
    font-weight: 500;

}
.login h2{
    font-size: var(--title-2);
    margin-bottom: 45px;
}
.login h3{
    font-size: var(--text-3);
    margin-bottom: 1rem;
}
